*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body,html{
  display: block;
  height: 100%;
  overflow: hidden;
}

#app{
  height: 100%;
}

.selectList div a {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: black;
  text-decoration: none;
}

.el-header{
  padding: 0 !important;
}

a{
  text-decoration: none;
}

