.editor{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.input{
  width: calc(48%);
  padding-right: 10px;
  min-width: calc(49%);
  min-height: calc(70%);
}

.output{
  border-style: solid ;
  border-width: 1px;
  border-color: #7febff;
  border-radius: 16px;
  padding: 6px 9px 6px 6px;
  width: calc(49%);
}